doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="style.css")
        title blog-preview-card
    body 
        .card
            div 
                img.blogimage(src="/images/illustration-article.svg", alt="")
            div
                .category Learning
                h2 Published Dec 2023
                h1 HTML & CSS foundations 
                p These languages are the backbone of every website, defining structure, content, and presentation.
            div
                .author
                    img.userpic(src="/images/image-avatar.webp", alt="")
                    p.authorname Greg Hooper